.side-navigation {
  grid-area: menu;

  ul {
    display: none;
    list-style-type: none;
    margin: 0;

    li {

      a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        margin: 10px 0;
      }
    }
  }
}

.menu-toggle,
.side-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {

  .menu-toggle {
    display: none;
  }

  .side-navigation ul {
    display: block;
  }
}
