.side-navigation {
  grid-area: menu;

  ul {
    list-style-type: none;
    margin: 0;

    li {

      a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        margin: 10px 0;
      }
    }
  }
}

