.site {
	max-width: 1480px;
	display: grid;
	grid-template-columns: ($size__site-sidebar) auto 200px;
	grid-template-areas:
	"header header header"
	"menu main sidebar"
	"footer footer footer";
}

.site-header {
	grid-area: header;
	text-align: center;
	font-size: 40px;

	.site-title a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */

	background-color: #FFCC77;
	padding: 0 20px;
}	

.widget-area {
	display: block;
	grid-area: sidebar;

	figure {
		margin: 0;

		img {
			display: block;
		}
	}
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
