.widget-area {
	display: none;
}

@media only screen and (min-width: 768px) {
	.site {
		display: grid;
		grid-template-columns: ($size__site-sidebar) auto;
		grid-template-areas:
		"header header"
		"menu main"
		"footer footer";
	}
}
@media only screen and (min-width: 1030px) {
	.site {
		max-width: 1480px;
		margin: auto;
		display: grid;
		grid-template-columns: ($size__site-sidebar) auto 200px;
		grid-template-areas:
		"header header header"
		"menu main sidebar"
		"footer footer footer";
	}

	.widget-area {
		display: block;
		grid-area: sidebar;

		figure {
			margin: 0;

			img {
				display: block;
			}
		}
	}
}

.site-header {
	grid-area: header;
	text-align: center;
	font-size: 40px;

	.site-title a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */

	background-color: #FFCC77;
	padding: 0 20px;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
